.ch_note_container {
  height: 100%;
  width: 340px !important;

  box-shadow: 0px 4px 20px 1px rgba(0,0,0,0.75);
  box-sizing: content-box;
  display: none;
  padding-bottom: 20px;
  position: fixed;
  top: 0px;
  z-index: 2000000000 !important;
}

.ch_note_left {
  left: 0px;
}

.ch_note_right {
  right: 0px;
}

.ch_note_textarea {
  height: 100%;
  width: 322px !important;

  background-color: #f4f261;
  box-sizing: content-box;
  font: 14px system-ui !important;
  overflow: scroll;
  padding: 2px 8px !important;
  resize: none;
}

.ch_note_topnav {
  height: 60px;
  width: 340px !important;

  background-color: #333;
  box-shadow: 0px 4px 20px 1px rgba(0,0,0,0.75);
  box-sizing: border-box;
  display: flex;
  font: 14px system-ui;
  justify-content: space-around;
}

.ch_note_topnav a {
  padding: 20px 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
}

.ch_note_topnav a:link {
  color: #42d7f4;
  text-decoration: none;
}

.ch_note_topnav a:visited {
  color: #42d7f4;
  text-decoration: none;
}

.ch_note_topnav a:hover {
  color: yellow;
  text-decoration: none;
}

.ch_note_topnav a:active {
  color: #42d7f4;
  text-decoration: none;
}

/*.ch_note_topnav svg:hover path {
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
  filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}*/
