.ne_note_container {
  height: 95%;
  width: 340px !important;

  box-shadow: 0px 4px 20px 1px rgba(0,0,0,0.75);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 2000000000 !important;
}

.ne_note_left {
  left: 0px;
}

.ne_note_right {
  right: 0px;
}

.ne_note_topnav {
  height: 60px;
  width: 340px !important;

  align-items: center;
  background-color: #333;
  box-shadow: 0px 4px 20px 0.5px rgba(0,0,0,0.25);
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  font: 14px system-ui;
  justify-content: space-around;
}

.ne_note_textarea {
  height: 100%;
  width: 330px !important;

  background-color: rgba(244,242,97,1);
  box-sizing: content-box;
  color: #000;
  flex: 3 1 auto;
  font: 14px system-ui !important;
  /*min-height: 210px;*/
  overflow-y: scroll;
  padding: 2px 8px !important;
  resize: none;
}

.ne_appearance {
  height: 50px;
  width: 340px !important;

  align-items: center;
  background-color: #333;
  box-shadow: 0px 4px 20px 0.5px rgba(0,0,0,0.25);
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.ne_note_opacity_toggle {
  margin-right: 15px;
}
